:root {
  --primary-50: hsl(219, 100%, 95%);
  --primary-100: hsl(219, 100%, 90%);
  --primary-200: hsl(219, 100%, 80%);
  --primary-300: hsl(219, 100%, 70%);
  --primary-400: hsl(219, 100%, 60%);
  --primary-500: hsl(219, 100%, 50%);
  --primary-600: hsl(219, 100%, 40%);
  --primary-700: hsl(219, 100%, 30%);
  --primary-800: hsl(219, 100%, 20%);
  --primary-900: hsl(219, 100%, 10%);


  --max-width: 120rem;
  --drawer-width: 15rem;
}



/*
 * Dark mode theme 
 */
:root[data-theme='dark'] {
  --text-color: #fff;
  --element-color: #000;
  --background-color: #000;
  --hover-background-color: rgba(255, 255, 255, 0.1);
  --active-tab-background-color: #000;
  --divider-color: rgba(255, 255, 255, 0.2);
}

/*
 * Light mode theme 
 */
:root[data-theme='light'] {
  --text-color: #000;
  --element-color: #fff;
  --background-color: #fff;
  --hover-background-color: rgba(0, 0, 0, 0.1);
  --active-tab-background-color: #fff;
  --divider-color: rgba(0, 0, 0, 0.2);
}