@import './variables';
@import './reset';
@import './breakpoints';
@import './grid';

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/IRANSansWeb.eot');
    src: url('../assets/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../assets/fonts/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../assets/fonts/IRANSansWeb.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../assets/fonts/IRANSansWeb.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: auto;
    max-width: var(--max-width);

    background-color: var(--background-color);
    color: var(--text-color);

    font-family: IRANSans, Roboto;
    line-height: 1.6;
}


// components
@import "../components/Avatar/Avatar.scss";
@import "../components/DarkModeToggle/DarkModeToggle.scss";

@import "../components/Divider/Divider.scss";
@import "../components/Drawer/Nav.scss";
@import "../components/Drawer/DesktopDrawer.scss";
@import "../components/Drawer/MobileDrawer.scss";

@import "../components/IconButton/IconButton.scss";

@import "../components/TabMenu/TabMenu.scss";

@import "../components/Header/UserMenu/UserMenu.scss";
@import "../components/Header/Header.scss";

//layouts
@import "../components/layouts/Main.scss";

// pages
@import "../pages/Category.scss";