.uiTabMenu {

    border-radius: 0.5rem;
    background-color: var(--hover-background-color);
    display: flex;
    flex-direction: row;


    &-button {
        margin: 0.3rem;
        border-radius: 0.3rem;
        color: var(--disable-text-color);
        background: none;
        border: none;
        outline: none;
        padding: 0.5rem 0.7rem;
        cursor: pointer;

        &:hover {
            background-color: var(--hover-background-color);
        }

        &[data-active=true] {
            font-weight: 600;
            color: var(--text-color);
            background-color: var(--active-tab-background-color);
        }
    }

}