.MainLayout {
    display: flex;
    flex-direction: row;

    &-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &-desktopDrawer {
        flex-shrink: 0;
        display: none;
        @include md {
            display: flex;
        }
    }

    &-mobileDrawer {
        display: block;
        @include md {
            display: none;
        }
    }
}