.MainLayout {
    display: flex;
    flex-direction: row;

    &-drawer {
        flex-shrink: 0;
    }
    
    &-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}