.uiHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    &-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        
        display: flex;

        @include md {
            display: none;
        }

        color: var(--text-color);
        background: none;
        border: none;
        outline: none;

        cursor: pointer;

        strong {
            margin: 0 0.5rem;
            font-weight: bold;
        }
    }

}