.uiUserMenu {
    color: var(--text-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;

    [dir=rtl] & {
        flex-direction: row-reverse;
    }

    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-background-color);
    }

    &-avatar {
        margin: 0;
        @include md {
            margin: 0.5rem;
        }
    }

    &-title {
        font-weight: 500;
        display: none;

        @include md {
            display: inline-block;
        }
    }

}