.uiUserMenu {
    color: var(--text-color);
    margin: 0 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    [dir=rtl] & {
        flex-direction: row-reverse;
    }  
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-background-color);
    }

    &-avatar {
        margin: 0.5rem;
    }

    &-title {
        font-weight: 500;
    }

}